# --- General ---
.DS_Store
Thumbs.db
*.log
*.temp
*.bak
*.swp
*.swo

# --- CMake ---
out/
build/

# --- Editors/IDEs ---
# CLion
.idea/
*.iml
cmake-build-*/

# VSCode
.vscode/

# --- Output Folders ---
bin/
obj/
lib/
dist/
api/

# --- Other Tools ---
*.iobj
*.ipdb
*.rsp
*.tlog
*.log
*.idb

# --- Miscellaneous ---
*.tags
*.lint
*.session
*.cache
*.log
.venv/

# --- Vcpkg ---
vcpkg_installed/

# Platformio
.pio
.cache
.dummy
